[Desktop Entry]
Name=Moria Map
Exec=bash -ic 'cd "$(dirname %k)" && java -jar build/libs/MoriaMap.jar; $SHELL'
Type=Application
Terminal=true
Icon=application-x-java